body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 850px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 9px solid #F0F0F0;
    transition: border 0.5s ease;
}

.logo img {
    height: 35px;
    margin-right: 10px;
}

.logo h2 {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0;
}

textarea {
    width: 99%;
    height: 200px;
    font-size: 16px;
    resize: none;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
}

#countButton, #statsButton, #charCountButton {
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

#countButton:hover, #statsButton:hover, #charCountButton:hover {
    background-color: #0056b3;
}

#clearButton {
    /*float: left;*/
    /*margin-right: 20px;*/
    background-color: #FF0032;
    transition: background-color 0.3s ease;
}

#clearButton:hover {
    background-color: #9B001C;
}

#resultParagraph {
    margin-top: 20px;
    font-weight: bold;
}

/* --- Контейнер для статистики знаков */
#wordsStatsContainer,
#charsStatsContainer {
    display: none; /* Изначально скрываем блоки статистики */
    margin-top: 20px;
}

#wordsStatsList,
#charsStatsList {
    list-style-type: none;
    padding-left: 0;
}

#wordsStatsList li,
#charsStatsList li {
    margin-bottom: 5px;
}

/* --- Контейнер для статистики слов  */
#statsContainer {
    display: none; /* Изначально скрываем блок статистики */
    margin-top: 20px;
}

#statsList {
    list-style-type: none;
    padding-left: 0;
}

#statsList li {
    margin-bottom: 5px;
}

/* Стиль для общего контейнера кнопки "Очистить" */
.cleanButton {
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 12px solid white;
}

/* Убираем отступы и рамки у отдельной кнопки */
.cleanButton button {
    margin: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Стиль для общего контейнера кнопок */
.buttons {
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 12px solid #F0F0F0;
}

/* Убираем отступы и рамки у отдельных кнопок */
.buttons button {
    margin: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}